extends default
block content
    heading.bg-primary.text-center.py-5.mb-4
        .container
            h1.font-weight-light.text-white Meet the Team
    .container
        .row
            .col-xl-3.col-md-6.mb-4
                .card.border-0.shadow
                    img.card-img-top(src='/assets/team/avatar.png')
                    .card-body.text-center
                        h5.card-title.mb-0 Prof. Sonali Deshpande
                        .card-text.text-black-50 Project Guide
            .col-xl-3.col-md-6.mb-4
                .card.border-0.shadow
                    img.card-img-top(src='/assets/team/tanmay.jpg')
                    .card-body.text-center
                        h5.card-title.mb-0 Tanmay Pachpande
                        .card-text.text-black-50 Developer and Data Scientist
            .col-xl-3.col-md-6.mb-4
                .card.border-0.shadow
                    img.card-img-top(src='/assets/team/avatar.png')
                    .card-body.text-center
                        h5.card-title.mb-0 Taresh Bokade
                        .card-text.text-black-50 Developer
            .col-xl-3.col-md-6.mb-4
                .card.border-0.shadow
                    img.card-img-top(src='/assets/team/avatar.png')
                    .card-body.text-center
                        h5.card-title.mb-0 Anjali Gajakosh
                        .card-text.text-black-50 Developer
