extends default
block stylesheets
    link(rel='stylesheet' type='text/css' href='/css/index.css')
block content
    .description
        h1 Welcome to RecipeNet
        p RecipeNet is a recommendation system that recommends the closest recipe that a user can cook using the ingredients he has in his pantry.
        a.btn.btn-success(href='tool') Let's start
